@charset "UTF-8";
/* Estilos de index.html */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
body {
  background-image: url("../img/Space.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  font-size: 10px; }

/* Estilos para el encabezado */
header {
  display: flex;
  font-size: 18px;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  background-color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  z-index: 1000;
  position: fixed;
  top: 0px;
  /* Distancia desde la parte superior */
  right: 0px;
  width: 100%; }

.logo {
  display: flex;
  position: relative;
  right: 250px; }

/* Estilos para el contenedor de videos */
.video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin: 20px auto; }

.video_container video {
  border-radius: 10px;
  box-shadow: 3px 3px 10px black; }

/* Estilos para cada elemento de video */
.Inicio .texto-ropa {
  color: white;
  text-align: start;
  line-height: 1.8;
  text-shadow: 10px 10px 10px black;
  margin-right: 30PX; }

/* Estilos para la imagen de logo */
.logo_2 img {
  max-width: 100%; }

.Inicio h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  position: relative;
  font-size: 40px;
  top: 50px;
  padding: 150px; }

.links_internos h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  /* Centrar horizontalmente */
  position: absolute;
  /* Posición absoluta */
  top: 75%;
  /* Alinear en el centro vertical */
  left: 50%;
  /* Alinear en el centro horizontal */
  transform: translate(-50%, -50%); }

/* Estilos para los enlaces internos */
.links_internos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Cambio en esta línea */
  grid-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 60px;
  /* Ajusta este valor según tus necesidades */
  margin-top: 200px; }

/* Estilos para las imágenes en los enlaces internos */
.links_internos img {
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  margin-bottom: 60px; }

/* Estilos para el texto superpuesto en las imágenes */
.imagen_con_texto {
  position: relative;
  display: inline-block; }

/* Estilos para el texto superpuesto en las imágenes al hacer hover */
.imagen_con_texto .texto_difuso {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  font-size: 17px;
  text-shadow: 5px 5px 10px black; }

/* Estilos para el hover del texto superpuesto en las imágenes */
.imagen_con_texto:hover .texto_difuso {
  opacity: 1; }

/* Estilos para el hover de las imágenes en los enlaces internos */
.imagen_con_texto img {
  transition: transform 0.5s; }

/* Estilos para el hover de las imágenes en los enlaces internos */
.imagen_con_texto img:hover {
  transform: scale(1.1); }

/* Estilos para el botón de ayuda flotante */
.ayuda {
  position: fixed;
  width: 65px;
  bottom: 20px;
  right: 25px;
  z-index: 999; }

/* Estilos para la imágen de ayuda */
.ayuda img {
  width: 65px; }

/* Aplicar estilos en dispositivos móviles */
@media screen and (max-width: 490px) {
  header {
    justify-content: space-between;
    /* Distribución de los elementos */ }

  .menu {
    display: block;
    /* Mostrar los enlaces uno debajo del otro */
    text-align: center center;
    /* Centrar los enlaces */ }

  .video_container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 30px; }

  .Inicio h1 {
    font-size: 30px;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 100px; }

  .video_container video {
    width: 100%;
    /* Asegurar que el video se ajuste al ancho */
    height: auto; }

  .texto-ropa {
    font-size: 14px;
    /* Reducir tamaño del texto */
    padding: 10px; }

  .links_internos {
    grid-template-columns: repeat(1, 1fr);
    /* Mostrar 2 columnas en dispositivos móviles */
    grid-gap: 0px;
    padding: 10px;
    margin-top: 100px; }

  .ayuda {
    position: fixed;
    width: 30px;
    top: 810px;
    right: 30px;
    z-index: 999; }

  /* Estilos para la imágen de ayuda */
  .ayuda img {
    width: 50px; }

  footer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black; }

  /* Estilos para la sección de información de contacto */
  .Contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue; }

  /* Estilos para los íconos de contacto */
  .Contactanos img {
    width: 40px; }

  /* Estilos para la sección de redes sociales en el pie de página */
  .redes {
    text-align: center;
    margin: 40px; }

  /* Estilos para los íconos de redes sociales en el pie de página */
  .Instagram_logo,
  .Twitter_logo,
  .Github_logo,
  .Linkedin_logo {
    width: 40px;
    margin: 0 10px; }

  /* Estilos para el logotipo final en el pie de página */
  .logo_final img {
    width: 80px;
    transform: translate(-50%, -50%); }

  .logo_final p {
    position: relative;
    color: white;
    text-align: center; }

  .empresa,
  .ayuda_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Alinear verticalmente al inicio */
    align-items: flex-start;
    /* Alinear horizontalmente al inicio */
    width: 50%;
    margin-top: 90px; }

  .ayuda_footer {
    justify-content: flex-end;
    /* Alinear verticalmente al final */
    align-items: flex-end;
    /* Alinear horizontalmente al final */ }

  .empresa h4,
  .ayuda_footer h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 5px; }

  .empresa p,
  .ayuda_footer p {
    color: white;
    font-size: 14px;
    margin-top: 5px; }

  .empresa p,
  .ayuda_footer p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    /* Espaciado superior */ } }
/* Estilos para el pie de página */
footer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: black; }

/* Estilos para la sección de información de contacto */
.Contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue; }

/* Estilos para los íconos de contacto */
.Contactanos img {
  width: 50px; }

/* Estilos para la sección de redes sociales en el pie de página */
.redes {
  text-align: center; }

/* Estilos para los íconos de redes sociales en el pie de página */
.Instagram_logo,
.Twitter_logo,
.Github_logo,
.Linkedin_logo {
  width: 50px; }

/* Estilos para el logotipo final en el pie de página */
.logo_final img {
  position: absolute;
  width: 100px;
  transform: translate(-50%, -50%); }

.logo_final p {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  margin-top: 40px; }

.empresa h4 {
  color: white; }

.empresa p {
  color: white; }

/* Estilos para colecciones.html */
.colecciones {
  padding-top: 10px;
  padding-bottom: 100px; }

.colecciones h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  padding-top: 220px;
  padding-bottom: 50px; }

.colecciones .contenido {
  display: flex;
  flex-direction: column; }

.colecciones .contenido .coleccion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: justify; }

.colecciones .contenido .coleccion img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px black; }

.colecciones .contenido .coleccion h2 {
  color: #461f1f;
  font-size: 25px; }

.colecciones .contenido .invert {
  flex-direction: column-reverse; }

@media screen and (min-width: 490px) {
  .colecciones .contenido .coleccion {
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly; }

  .colecciones .contenido .coleccion div {
    padding: 0 20px;
    width: 35%; }

  .colecciones .contenido .coleccion img {
    width: 40%; } }
/* Estilos para nosotros.html */
.nosotros {
  padding-top: 100px;
  padding-bottom: 100px; }

.nosotros h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  padding-top: 130px;
  padding-bottom: 50px; }

.nosotros .contenido-nosotros {
  display: flex;
  flex-direction: column; }

.nosotros .contenido-nosotros .quienes-somos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: justify; }

.nosotros .contenido-nosotros .quienes-somos img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  margin: 20px; }

.nosotros .contenido-nosotros .invert img {
  box-shadow: none;
  max-width: 100%; }

.nosotros .contenido-nosotros .invert {
  flex-direction: column-reverse; }

@media (min-width: 490px) {
  .nosotros .contenido-nosotros .quienes-somos {
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly; }

  .nosotros .contenido-nosotros .quienes-somos div h2 {
    padding: 20px;
    width: 35%; }

  .nosotros .contenido-nosotros .quienes-somos img {
    width: 40%; } }
/*Estilos de Contacto.html*/
.contacto {
  display: grid;
  place-items: center;
  margin-top: 220px; }

.contacto h1, p {
  color: white;
  text-align: justify;
  max-width: 600px;
  line-height: 25px; }

.formulario label {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
  max-width: 500px;
  margin: auto;
  padding: 0px;
  text-align: center;
  margin-top: 40px; }

.formulario form input {
  padding: 10px 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  width: 600px;
  outline: none; }

input:focus {
  color: white;
  font-size: 18px; }

input::placeholder {
  font-size: 18px; }

input:valid {
  color: white;
  /* Cambia el color según tus preferencias */
  font-size: 18px; }

.formulario button {
  background-color: #5f2828;
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
  padding: 10px;
  cursor: pointer;
  display: block;
  /* Cambia display a "block" en lugar de "grid" */
  margin-bottom: 50px;
  /* Utiliza margen automático para centrar horizontalmente */
  margin-top: 50px;
  border: none;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 0 5px black; }

@media screen and (max-width: 490px) {
  .contacto {
    margin-top: 250px; }

  .contacto h1, .contacto p {
    max-width: 90%; }

  .formulario label {
    max-width: 100%; }

  .formulario form input {
    width: 100%; }

  .formulario button {
    margin-top: 20px;
    margin-bottom: 20px; } }
.productos {
  display: flex;
  justify-content: space-between; }

.producto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.producto img {
  width: 350px;
  margin-top: 100px;
  margin-bottom: 50px;
  /* Espacio entre la imagen y los párrafos */
  margin-right: 5px;
  /* Espacio entre las imágenes */
  margin-left: 5px;
  border-radius: 20px; }

.tienda .productos .producto p {
  font-size: 15px;
  margin-bottom: 10px; }

.tienda .productos .producto {
  margin-bottom: 50px; }

@media (max-width: 490px) {
  .productos {
    flex-direction: column;
    align-items: center; }

  .producto {
    flex-basis: 100%; } }
.ayuda {
  text-align: center;
  margin-top: 20px; }

.ayuda img {
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */
