/* Estilos de index.html */

body {
    background-image: url("../imagenes/fondo_madera_negra.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Estilos para el encabezado */
  header {
    display: flex;
    font-size: 20px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: black;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0px; /* Distancia desde la parte superior */
    right: 0px;
    width: 100%;
  }
  
  /* Estilos para los elementos de la lista */
  .menu li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    
  }
  
  /* Estilos para los enlaces en el menú */
  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Estilos para la línea debajo de los enlaces en el menú */
  .menu li a::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: brown;
  visibility: hidden;
  transition: width 0.3s, visibility 0.3s;
  }

  /* Estilos para el hover de la línea debajo de los enlaces en el menú */
  .menu li a:hover .linea {
  width: 100%;
  visibility: visible;
  }

  /* Estilos para el hover de la línea debajo de los enlaces en el menú */
  .menu li a:hover::after {
  width: 100%;
  visibility: visible;
  }
  
  /* Estilos para el logotipo */
  .logo {
    display: flex;
    position:relative;
    right: 500px;
    
  }

  /* Estilos para el contenedor de videos */
  .video_container {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 200px;
  }
  
  /* Estilos para los videos en el contenedor */
  .video_container iframe {
    box-shadow: 0 0 20px black;
    border-radius: 20px;
  }

  /* Estilos para los videos en el contenedor */
  .video_container video{
    box-shadow: 0 0 20px black;
    border-radius: 20px;
  }
  
  /* Estilos para el logotipo 2 */
  .logo_2 {
    align-items: center;
    margin-left: 60px;

  }
  
  /* Estilos para los enlaces internos */
  .links_internos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    margin: 10px;
    margin-top: 50px;
  }
  
  /* Estilos para las imágenes en los enlaces internos */
  .links_internos img {
    max-width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
  }
  
  /* Estilos para el texto superpuesto en las imágenes */
  .imagen_con_texto {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  /* Estilos para el texto superpuesto en las imágenes al hacer hover */
  .imagen_con_texto .texto_difuso {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    font-weight: 900;
    font-size: 25px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para el hover del texto superpuesto en las imágenes */
  .imagen_con_texto:hover .texto_difuso {
    opacity: 1;
  }
  
  /* Estilos para el hover de las imágenes en los enlaces internos */
  .imagen_con_texto img {
    transition: transform 0.5s;
  }
  
  /* Estilos para el hover de las imágenes en los enlaces internos */
  .imagen_con_texto img:hover {
    transform: scale(1.1);
  }
  
  /* Estilos para el botón de ayuda flotante */
  .ayuda img {
    float: right;
    width: 50px;
  }
  
  /* Estilos para el botón de ayuda flotante */
  .ayuda {
    position: fixed;
    width: 65px;
    top: 900px;
    right: 25px;
    z-index: 999;
  }
  /* Estilos para la imágen de ayuda */
  .ayuda img{
    width: 65px;
  }
  
  /* Estilos para los íconos de redes sociales en el pie de página */
  .Instagram_logo,
  .Twitter_logo,
  .Github_logo,
  .Linkedin_logo {
    width: 50px;
  }
  
/* Estilos para el pie de página */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}
  
  /* Estilos para la sección de información de contacto */
  .Contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }
  
  /* Estilos para los íconos de contacto */
  .Contactanos img {
    width: 50px;
  }
  
  /* Estilos para la sección de redes sociales en el pie de página */
  .redes {
    text-align: center;
  }
  
  /* Estilos para el logotipo final en el pie de página */
  .logo_final img {
    width: 100px;
  }
  
  .logo_final p{
    color: white;
  }
  .empresa h4{
    color: white;
  }
  .empresa p{
    color: darkgray;
  }
  .ayuda_footer h4{
    color: white;
  }
  .ayuda_footer p {
    color:darkgrey
  }