/* Estilos de index.html */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

body {
    background-image: url("../imagenes/fondo_madera_negra.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Bungee Hairline', cursive;
  }
  
  /* Estilos para el encabezado */
  header {
    display: flex;
    font-size: 20px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: black;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0px; /* Distancia desde la parte superior */
    right: 0px;
    width: 100%;
  }
  
  /* Estilos para los elementos de la lista */
  .menu li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
  }
  
  /* Estilos para los enlaces en el menú */
  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Estilos para la línea debajo de los enlaces en el menú */
  .menu li a::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgb(95, 40, 40);
  visibility: hidden;
  }

  /* Estilos para el hover de la línea debajo de los enlaces en el menú */
  .menu li a:hover .linea {
  width: 100%;
  visibility: visible;
  }

  /* Estilos para el hover de la línea debajo de los enlaces en el menú */
  .menu li a:hover::after {
  width: 100%;
  visibility: visible;
  }
  
  .Inicio h1 {
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
/* Estilos para el contenedor de videos */
.video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre los elementos */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px; /* Ajusta según tus necesidades */
}

.video_container video {
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.logo {
  display: flex;
  position:relative;
  right: 440px;
  
}
/* Estilos para cada elemento de video */
.Inicio .texto-ropa {
  color: white;
  text-align:start;
  line-height: 1.8;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
/* Estilos para la imagen de logo */
.logo_2 img {
  max-width: 100%;
}
  
  .Inicio h1 {
    font-family: 'Bungee Hairline', cursive;
    color: white;
    text-align: center;
    position: relative; 
    font-size: 40px; 
    top: 50px;
    padding: 40px;
  }

  .links_internos h1 {
    font-family: 'Bungee Hairline', cursive;
    color: white;
    text-align: center; /* Centrar horizontalmente */
    position: absolute; /* Posición absoluta */
    top: 75%; /* Alinear en el centro vertical */
    left: 50%; /* Alinear en el centro horizontal */
    transform: translate(-50%, -50%);
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    
  }
  /* Estilos para los enlaces internos */
  .links_internos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cambio en esta línea */
    grid-gap: 10px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 60px; /* Ajusta este valor según tus necesidades */
    margin-top: 200px;
  }
    
  /* Estilos para las imágenes en los enlaces internos */
  .links_internos img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    margin-bottom: 60px;
  }
  
  /* Estilos para el texto superpuesto en las imágenes */
  .imagen_con_texto {
    position: relative;
    display: inline-block;
  }
  
  /* Estilos para el texto superpuesto en las imágenes al hacer hover */
  .imagen_con_texto .texto_difuso {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    font-size: 20px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    
  }
  
  /* Estilos para el hover del texto superpuesto en las imágenes */
  .imagen_con_texto:hover .texto_difuso {
    opacity: 1;
  }
  
  /* Estilos para el hover de las imágenes en los enlaces internos */
  .imagen_con_texto img {
    transition: transform 0.5s;
  }
  
  /* Estilos para el hover de las imágenes en los enlaces internos */
  .imagen_con_texto img:hover {
    transform: scale(1.1);
  }
  
  /* Estilos para el botón de ayuda flotante */
  .ayuda img {
    float: right;
    width: 50px;
  }
  
  /* Estilos para el botón de ayuda flotante */
  .ayuda {
    position: fixed;
    width: 65px;
    top: 900px;
    right: 25px;
    z-index: 999;
  }
  /* Estilos para la imágen de ayuda */
  .ayuda img{
    width: 65px;
  }
  
  /* Estilos para los íconos de redes sociales en el pie de página */
  .Instagram_logo,
  .Twitter_logo,
  .Github_logo,
  .Linkedin_logo {
    width: 50px;
  }
  
/* Estilos para el pie de página */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}
  
  /* Estilos para la sección de información de contacto */
  .Contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }
  
  /* Estilos para los íconos de contacto */
  .Contactanos img {
    width: 50px;
  }
  
  /* Estilos para la sección de redes sociales en el pie de página */
  .redes {
    text-align: center;
  }
  
  /* Estilos para el logotipo final en el pie de página */
  .logo_final img {
    position: absolute;
    width: 100px;
    transform: translate(-50%, -50%);
  }
  
  .logo_final p{
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    margin-top: 40px;
  }
  .empresa h4{
    color: white;
  }
  .empresa p{
    color: rgb(255, 255, 255);
  }
  .ayuda_footer h4{
    color: white;
  }
  .ayuda_footer p {
    color:rgb(255, 255, 255)
  }